/* # is for id, . is for class, name is for element*/

#spacer {
    height: 5%;
}

h1 {
    text-align: center;
    font-size: 35pt;
    color: white;
}

h3 {
    text-align: center;
    font-size: 15pt;
    color: white;
}

#bar-label {
    font-size: 8pt;
    font-family: monospace;
}

#defcon-label {
    text-align:"center"
}

#essay-content {
    text-align: justify;
    line-height: 1.5;
    font-size: 12pt;
    color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background-color:#42587C;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
